@include keyframes(fadeIn_slide) {
    from { opacity: 0.3; margin-top:-18%; }
      to { opacity: 1; margin-top: 0; }
}
@include keyframes(scaleUp) {
	from { 
		opacity: 0.3; 
		-webkit-transform: scale(0.8); 
	}
}
@include keyframes(slideOutLeft) {
	from {transform: translateX(0); }
	to 	{ transform: translateX(100%); }
}
