$linkcolor			:#acaa8a;
$background_dark	:#000000;
$background_light 	:#707070;

$titleFonts			:'Palatino Linotype', 'Book Antiqua', Palatino, serif;
$generalFonts		:Verdana, Geneva, sans-serif;

/* Break Points */
$minWidth			:319px;
$small				:481px;
$mediumSmall		:569px;
$medium800			:799px;
$medium				:1028px;
$large				:1200px;
$maxWidth			:$large;