/* line 5, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Break Points */
@-webkit-keyframes fadeIn_slide {
  /* line 2, ../scss/_animations.scss */
  from {
    opacity: 0.3;
    margin-top: -18%;
  }

  /* line 3, ../scss/_animations.scss */
  to {
    opacity: 1;
    margin-top: 0;
  }
}
@-moz-keyframes fadeIn_slide {
  /* line 2, ../scss/_animations.scss */
  from {
    opacity: 0.3;
    margin-top: -18%;
  }

  /* line 3, ../scss/_animations.scss */
  to {
    opacity: 1;
    margin-top: 0;
  }
}
@-o-keyframes fadeIn_slide {
  /* line 2, ../scss/_animations.scss */
  from {
    opacity: 0.3;
    margin-top: -18%;
  }

  /* line 3, ../scss/_animations.scss */
  to {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes fadeIn_slide {
  /* line 2, ../scss/_animations.scss */
  from {
    opacity: 0.3;
    margin-top: -18%;
  }

  /* line 3, ../scss/_animations.scss */
  to {
    opacity: 1;
    margin-top: 0;
  }
}
@-webkit-keyframes scaleUp {
  /* line 6, ../scss/_animations.scss */
  from {
    opacity: 0.3;
    -webkit-transform: scale(0.8);
  }
}
@-moz-keyframes scaleUp {
  /* line 6, ../scss/_animations.scss */
  from {
    opacity: 0.3;
    -webkit-transform: scale(0.8);
  }
}
@-o-keyframes scaleUp {
  /* line 6, ../scss/_animations.scss */
  from {
    opacity: 0.3;
    -webkit-transform: scale(0.8);
  }
}
@keyframes scaleUp {
  /* line 6, ../scss/_animations.scss */
  from {
    opacity: 0.3;
    -webkit-transform: scale(0.8);
  }
}
@-webkit-keyframes slideOutLeft {
  /* line 12, ../scss/_animations.scss */
  from {
    transform: translateX(0);
  }

  /* line 13, ../scss/_animations.scss */
  to {
    transform: translateX(100%);
  }
}
@-moz-keyframes slideOutLeft {
  /* line 12, ../scss/_animations.scss */
  from {
    transform: translateX(0);
  }

  /* line 13, ../scss/_animations.scss */
  to {
    transform: translateX(100%);
  }
}
@-o-keyframes slideOutLeft {
  /* line 12, ../scss/_animations.scss */
  from {
    transform: translateX(0);
  }

  /* line 13, ../scss/_animations.scss */
  to {
    transform: translateX(100%);
  }
}
@keyframes slideOutLeft {
  /* line 12, ../scss/_animations.scss */
  from {
    transform: translateX(0);
  }

  /* line 13, ../scss/_animations.scss */
  to {
    transform: translateX(100%);
  }
}
/* Object styles */
/* line 1, ../scss/_mainmenu.scss */
nav {
  width: 100%;
  display: inline-block;
  padding: 0;
  margin: 0;
  border: 1px solid;
  border-color: #000;
  margin-bottom: 1px;
}
@media (min-width: 481px) {
  /* line 1, ../scss/_mainmenu.scss */
  nav {
    border-radius: 5px;
  }
}
/* line 14, ../scss/_mainmenu.scss */
nav, nav > ul > li > ul > li a:hover {
  background: #505050;
  /* Old browsers */
  background: -moz-linear-gradient(top, #505050 0%, #1e1e1e 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #505050), color-stop(100%, #1e1e1e));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #505050 0%, #1e1e1e 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #505050 0%, #1e1e1e 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #505050 0%, #1e1e1e 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #505050 0%, #1e1e1e 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */
}
/* line 18, ../scss/_mainmenu.scss */
nav a {
  font: bold 1em Verdana, Geneva, sans-serif;
  text-align: center;
  text-decoration: none;
}
@media (min-width: 481px) {
  /* line 18, ../scss/_mainmenu.scss */
  nav a {
    font: bold 0.8em Verdana, Geneva, sans-serif;
  }
}
/* line 28, ../scss/_mainmenu.scss */
nav > ul {
  list-style: inside none;
  padding: 0;
  margin: 0;
}
/* line 33, ../scss/_mainmenu.scss */
nav > ul .menuTitle {
  display: block;
}
/* line 36, ../scss/_mainmenu.scss */
nav > ul .menuTitle > a {
  display: block;
}
/* line 38, ../scss/_mainmenu.scss */
nav > ul .menuTitle > a:before {
  content: '';
  position: absolute;
  top: 12px;
  right: 6px;
  border: 5px solid transparent;
  border-top: 5px solid #9b9b9b;
}
@media (min-width: 481px) {
  /* line 33, ../scss/_mainmenu.scss */
  nav > ul .menuTitle {
    display: none;
  }
}
/* line 53, ../scss/_mainmenu.scss */
nav > ul > li {
  list-style: inside none;
  padding: 0;
  margin: 0;
  display: block;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #000000;
}
/* line 62, ../scss/_mainmenu.scss */
nav > ul > li:last-child {
  border: none;
}
/* line 66, ../scss/_mainmenu.scss */
nav > ul > li:not(.menuTitle) {
  display: none;
}
/* line 69, ../scss/_mainmenu.scss */
nav > ul > li:not(.menuTitle).menuItemOn {
  display: block;
}
/* line 72, ../scss/_mainmenu.scss */
nav > ul > li:not(.menuTitle):not(.menuItemOn) {
  display: none;
}
@media (min-width: 481px) {
  /* line 66, ../scss/_mainmenu.scss */
  nav > ul > li:not(.menuTitle) {
    display: block;
  }
  /* line 78, ../scss/_mainmenu.scss */
  nav > ul > li:not(.menuTitle):not(.menuItemOn) {
    display: block;
  }
}
@media (min-width: 481px) {
  /* line 53, ../scss/_mainmenu.scss */
  nav > ul > li {
    float: left;
    width: 16.6%;
    border: none;
  }
}
/* line 90, ../scss/_mainmenu.scss */
nav > ul > li > a {
  outline: none;
  display: block;
  position: relative;
  padding: 6px 0 7px 0;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
}
/* line 97, ../scss/_mainmenu.scss */
nav > ul > li > a, nav > ul > li > a:visited {
  color: #9b9b9b;
}
@media (min-width: 569px) {
  /* line 97, ../scss/_mainmenu.scss */
  nav > ul > li > a, nav > ul > li > a:visited {
    border-right: 1px solid #000;
  }
}
/* line 104, ../scss/_mainmenu.scss */
nav > ul > li > a:after {
  content: '';
  position: absolute;
  border-right: 1px solid;
  border-color: #444;
  right: -2px;
  z-index: 99;
}
/* line 113, ../scss/_mainmenu.scss */
nav > ul > li > a:hover {
  background: #5e5e5e;
  /* Old browsers */
  background: -moz-linear-gradient(top, #5e5e5e 0%, #2d2d2d 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5e5e5e), color-stop(100%, #2d2d2d));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #5e5e5e 0%, #2d2d2d 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #5e5e5e 0%, #2d2d2d 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #5e5e5e 0%, #2d2d2d 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #5e5e5e 0%, #2d2d2d 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */
}
/* line 118, ../scss/_mainmenu.scss */
nav > ul > li:first-child > a {
  border-radius: 5px 0 0 5px;
}
@media (min-width: 569px) {
  /* line 123, ../scss/_mainmenu.scss */
  nav > ul > li:last-child > a {
    border-right: none;
  }
  /* line 125, ../scss/_mainmenu.scss */
  nav > ul > li:last-child > a:after {
    border-right: none;
  }
}
/* line 132, ../scss/_mainmenu.scss */
nav > ul > li.hasSub > a {
  display: none;
}
@media (min-width: 481px) {
  /* line 132, ../scss/_mainmenu.scss */
  nav > ul > li.hasSub > a {
    display: block;
  }
  /* line 137, ../scss/_mainmenu.scss */
  nav > ul > li.hasSub > a:before {
    content: '';
    position: absolute;
    top: 12px;
    right: 6px;
    border: 5px solid transparent;
    border-top: 5px solid #9b9b9b;
  }
}
/* line 149, ../scss/_mainmenu.scss */
nav > ul > li.hasSub.hover > a {
  background: #2f2f2f;
  border-color: #2f2f2f;
  padding-bottom: 7px;
  padding-top: 7px;
  z-index: 999;
}
/* line 156, ../scss/_mainmenu.scss */
nav > ul > li.hasSub.hover > a:before {
  top: 12px;
}
/* line 159, ../scss/_mainmenu.scss */
nav > ul > li.hasSub.hover > a:after {
  top: 0;
  bottom: 0;
}
/* line 163, ../scss/_mainmenu.scss */
nav > ul > li.hasSub.hover > ul {
  display: block;
}
/* line 170, ../scss/_mainmenu.scss */
nav > ul > li > ul {
  -webkit-animation: fadeIn_slide 0.3s;
  -moz-animation: fadeIn_slide 0.3s;
  -o-animation: fadeIn_slide 0.3s;
  animation: fadeIn_slide 0.3s;
  display: block;
  width: 100%;
  top: 25px;
  border-radius: 0 0 5px 5px;
  z-index: 999;
}
@media (min-width: 481px) {
  /* line 170, ../scss/_mainmenu.scss */
  nav > ul > li > ul {
    display: none;
    position: absolute;
    padding: 10px 0;
    background: #2d2d2d;
  }
}
/* line 185, ../scss/_mainmenu.scss */
nav > ul > li > ul li {
  display: block;
  list-style: inside none;
  padding: 0;
  margin: 0;
  position: relative;
}
/* line 192, ../scss/_mainmenu.scss */
nav > ul > li > ul li:not(:first-child) {
  border-top: 1px solid #000000;
}
@media (min-width: 481px) {
  /* line 185, ../scss/_mainmenu.scss */
  nav > ul > li > ul li {
    border-top: 1px solid #000000;
  }
}
/* line 199, ../scss/_mainmenu.scss */
nav > ul > li > ul li a, nav > ul > li > ul li a:visited {
  outline: none;
  display: block;
  position: relative;
  margin: 0;
  padding: 8px 20px;
  color: #9b9b9b;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
}

/* line 4, ../scss/_header.scss */
header .banner {
  text-align: center;
  position: relative;
  display: inline-block;
  width: 100%;
}
/* line 10, ../scss/_header.scss */
header .banner img {
  width: 100%;
  max-width: 864px;
}
/* line 16, ../scss/_header.scss */
header .banner .regularBanner {
  display: none;
}
/* line 21, ../scss/_header.scss */
header #hEvent {
  text-align: left;
  vertical-align: middle;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.15);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#ffffff', EndColorStr='#ffffff');
  display: none;
}
@media (min-width: 569px) {
  /* line 30, ../scss/_header.scss */
  header #hEvent.displayControl {
    display: block;
  }
}
@media (min-width: 569px) {
  /* line 21, ../scss/_header.scss */
  header #hEvent {
    position: absolute;
    bottom: 5%;
    left: 7%;
    height: auto;
    padding: 0 21px 12px 21px;
    border-radius: 12px;
  }
  /* line 45, ../scss/_header.scss */
  header #hEvent p {
    margin: 0 0 0 30px;
    font-size: .8em;
    line-height: normal;
  }
  /* line 50, ../scss/_header.scss */
  header #hEvent p.hevent_title {
    font: 1.13em Verdana, Geneva, sans-serif;
  }
}
@media (min-width: 1028px) {
  /* line 21, ../scss/_header.scss */
  header #hEvent {
    padding: 9px 21px 21px 21px;
  }
}

/* Styles for the audio and video players */
/* line 2, ../scss/_mediaplayers.scss */
#videoPlayerContainer {
  display: block;
  position: fixed;
  top: 100%;
  left: 10%;
}
/* line 8, ../scss/_mediaplayers.scss */
#videoPlayerContainer .closeOverlay {
  width: 100%;
  text-align: right;
  filter: alpha(opacity=79);
  -moz-opacity: 0.79;
  -khtml-opacity: 0.79;
  opacity: 0.95;
  background: #505050;
  /* Old browsers */
  background: -moz-linear-gradient(top, #505050 0%, #1e1e1e 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #505050), color-stop(100%, #1e1e1e));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #505050 0%, #1e1e1e 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #505050 0%, #1e1e1e 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #505050 0%, #1e1e1e 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #505050 0%, #1e1e1e 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */
}
/* line 17, ../scss/_mediaplayers.scss */
#videoPlayerContainer .closeOverlay a {
  margin: .3em;
  display: inline-block;
  vertical-align: middle;
}
/* line 22, ../scss/_mediaplayers.scss */
#videoPlayerContainer .closeOverlay a img {
  width: 1.2em;
  margin: .1em .5em .1em .5em;
  float: right;
}

/* line 32, ../scss/_mediaplayers.scss */
#audioPlayerContainer {
  position: fixed;
  left: 50%;
  margin-left: -50%;
  bottom: -100%;
  width: 100%;
  text-align: center;
  display: none;
}
/* line 41, ../scss/_mediaplayers.scss */
#audioPlayerContainer .playerDetails {
  display: inline-block;
  border: thin solid lightgray;
  border-radius: 10px;
  padding: .5em;
  opacity: .9;
  background: #505050;
  /* Old browsers */
  background: -moz-linear-gradient(top, #505050 0%, #1e1e1e 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #505050), color-stop(100%, #1e1e1e));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #505050 0%, #1e1e1e 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #505050 0%, #1e1e1e 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #505050 0%, #1e1e1e 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #505050 0%, #1e1e1e 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */
}
@media (min-width: 569px) {
  /* line 41, ../scss/_mediaplayers.scss */
  #audioPlayerContainer .playerDetails {
    width: 27%;
  }
}
@media (min-width: 1028px) {
  /* line 41, ../scss/_mediaplayers.scss */
  #audioPlayerContainer .playerDetails {
    min-width: 339px;
    max-width: 430px;
  }
}
/* line 59, ../scss/_mediaplayers.scss */
#audioPlayerContainer .playerDetails .btnplay {
  float: left;
  height: 2.4em;
  margin-right: 1em;
}
/* line 65, ../scss/_mediaplayers.scss */
#audioPlayerContainer .playerDetails .songInfo {
  float: left;
  text-align: left;
}
/* line 70, ../scss/_mediaplayers.scss */
#audioPlayerContainer .playerDetails div {
  display: inline-block;
}
/* line 74, ../scss/_mediaplayers.scss */
#audioPlayerContainer .playerDetails .volumecontroll {
  display: none;
}
@media (min-width: 1028px) {
  /* line 74, ../scss/_mediaplayers.scss */
  #audioPlayerContainer .playerDetails .volumecontroll {
    display: inline-block;
    margin-right: 1.5em;
    vertical-align: middle;
    float: right;
  }
  /* line 83, ../scss/_mediaplayers.scss */
  #audioPlayerContainer .playerDetails .volumecontroll input {
    width: 7em;
  }
}

/* line 1, ../scss/_mediaitems.scss */
.video {
  margin: 14px 5px;
  display: inline-block;
  position: relative;
}
/* line 6, ../scss/_mediaitems.scss */
.video img {
  float: left;
  margin: 0 3% 1% 0;
}
/* line 11, ../scss/_mediaitems.scss */
.video > a {
  position: relative;
  display: inline-block;
  float: left;
  margin-right: 1em;
}
/* line 18, ../scss/_mediaitems.scss */
.video .btnPlay {
  position: absolute;
  left: 46px;
  top: 31px;
  margin: 0px;
  display: inline-block;
}
/* line 25, ../scss/_mediaitems.scss */
.video .btnPlay img {
  width: 27px;
}

/* line 31, ../scss/_mediaitems.scss */
.audioSample {
  display: inline-block;
  margin-bottom: 14px;
  padding: 5px;
  width: 95%;
  vertical-align: middle;
  border-radius: 5px;
  background-color: #000000;
  background: -moz-linear-gradient(top, #505050 0%, #101010 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #505050), color-stop(100%, #101010));
  background: -webkit-linear-gradient(top, #505050 0%, #101010 100%);
  background: -o-linear-gradient(top, #505050 0%, #101010 100%);
  background: -ms-linear-gradient(top, #505050 0%, #101010 100%);
  background: linear-gradient(to bottom, #505050 0%, #101010 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#505050', endColorstr='#101010',GradientType=0 );
  cursor: default;
}
/* line 48, ../scss/_mediaitems.scss */
.audioSample img {
  height: 1.25em;
  vertical-align: middle;
  float: left;
  margin-right: 5%;
}
/* line 55, ../scss/_mediaitems.scss */
.audioSample > div {
  display: inline;
}
@media (min-width: 569px) {
  /* line 31, ../scss/_mediaitems.scss */
  .audioSample {
    min-width: 7.5em;
  }
}

/* line 66, ../scss/_mediaitems.scss */
.audioFeature {
  margin-bottom: 1.8em;
  clear: both;
}
/* line 71, ../scss/_mediaitems.scss */
.audioFeature .audioSample {
  margin-top: .3em;
  margin-bottom: 1em;
  margin-right: 1em;
  width: 36%;
  float: left;
}
@media (min-width: 569px) {
  /* line 71, ../scss/_mediaitems.scss */
  .audioFeature .audioSample {
    width: 33%;
  }
}
/* line 82, ../scss/_mediaitems.scss */
.audioFeature .audioSample div {
  width: 100%;
}
/* line 88, ../scss/_mediaitems.scss */
.audioFeature p {
  margin: 0;
}

/* line 93, ../scss/_mediaitems.scss */
.itemBackground > .album {
  margin-left: 1em;
}

/* line 99, ../scss/_mediaitems.scss */
.album > div {
  display: block;
  float: left;
  vertical-align: top;
  margin-top: 1em;
}
/* line 105, ../scss/_mediaitems.scss */
.album > div:not(:last-child):not(:first-child) {
  width: 100%;
}
@media (min-width: 569px) {
  /* line 99, ../scss/_mediaitems.scss */
  .album > div {
    margin-bottom: .5em;
    margin-top: 0;
    padding: 0 10px 0 0;
  }
  /* line 112, ../scss/_mediaitems.scss */
  .album > div:not(:last-child):not(:first-child) {
    width: 50%;
    float: right;
  }
}
@media (min-width: 799px) {
  /* line 120, ../scss/_mediaitems.scss */
  .album > div:not(:last-child):not(:first-child) {
    width: 27%;
    float: left;
  }
}
@media (min-width: 1028px) {
  /* line 126, ../scss/_mediaitems.scss */
  .album > div:not(:last-child):not(:first-child) {
    width: 30%;
  }
}
/* line 131, ../scss/_mediaitems.scss */
.album > div:first-child {
  padding-left: 0;
}
/* line 135, ../scss/_mediaitems.scss */
.album .albumImage {
  float: left;
}
@media (min-width: 569px) {
  /* line 139, ../scss/_mediaitems.scss */
  .album > div.albumDesc {
    width: 53%;
  }
}
@media (min-width: 1028px) {
  /* line 139, ../scss/_mediaitems.scss */
  .album > div.albumDesc {
    width: 33%;
  }
}
/* line 149, ../scss/_mediaitems.scss */
.album > div.albumDesc p.title {
  font-size: 21pt;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  font-style: italic;
  color: #ccccaa;
  margin-top: -7px;
}
/* line 159, ../scss/_mediaitems.scss */
.album .albumSamples {
  clear: left;
}
@media (min-width: 799px) {
  /* line 159, ../scss/_mediaitems.scss */
  .album .albumSamples {
    clear: none;
  }
}
@media (min-width: 1028px) {
  /* line 167, ../scss/_mediaitems.scss */
  .album .storeLinks {
    width: 15%;
    margin-top: 0;
    float: right;
  }
}
/* line 175, ../scss/_mediaitems.scss */
.album .storeLinks > a {
  float: left;
  clear: both;
  vertical-align: middle;
  margin-bottom: 7px;
}
/* line 181, ../scss/_mediaitems.scss */
.album .storeLinks > a > img {
  margin-right: 7px;
  vertical-align: middle;
}
/* line 187, ../scss/_mediaitems.scss */
.album .buynow {
  margin-bottom: 14px;
}

/* line 1, ../scss/_gallery.scss */
.galleryContainer {
  margin-top: 20px;
}
/* line 3, ../scss/_gallery.scss */
.galleryContainer .slider {
  position: relative;
  text-align: center;
}
/* line 7, ../scss/_gallery.scss */
.galleryContainer .slider .slide {
  left: 0;
  right: 0;
  opacity: 1;
  margin-left: auto;
  margin-right: auto;
}
/* line 10, ../scss/_gallery.scss */
.galleryContainer .slider .slide img {
  max-height: 470px;
  max-width: 100%;
}
/* line 23, ../scss/_gallery.scss */
.galleryContainer .slider .slideImg {
  position: relative;
  display: inline-block;
  height: 100%;
  max-width: 900px;
}
/* line 30, ../scss/_gallery.scss */
.galleryContainer .slider .slideCaption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: white;
  background: white;
  background: rgba(255, 255, 255, 0.7);
  color: black;
  padding: .5em 0;
  display: block;
}
/* line 41, ../scss/_gallery.scss */
.galleryContainer .slider .slideCaption span {
  display: block;
  width: 98%;
}
/* line 47, ../scss/_gallery.scss */
.galleryContainer .slider .arrow {
  position: absolute;
  top: 50%;
  height: 30px;
  width: 30px;
  z-index: 1001;
}
/* line 54, ../scss/_gallery.scss */
.galleryContainer .slider .arrow.prev {
  background: url("/img/site/prev.png") no-repeat;
  left: 0;
}
/* line 58, ../scss/_gallery.scss */
.galleryContainer .slider .arrow.next {
  background: url("/img/site/next.png") no-repeat;
  right: 0;
}
/* line 65, ../scss/_gallery.scss */
.galleryContainer div.thumbs {
  margin-top: 20px;
  max-width: 892px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
/* line 72, ../scss/_gallery.scss */
.galleryContainer div.thumbs label.counter {
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  bottom: 0;
}
/* line 80, ../scss/_gallery.scss */
.galleryContainer div.thumbs div.thumbsViewScrollBack, .galleryContainer div.thumbs div.thumbsViewScrollForward {
  position: absolute;
  height: 78px;
  width: 14px;
  cursor: pointer;
  display: inline-block;
}
/* line 88, ../scss/_gallery.scss */
.galleryContainer div.thumbs div.thumbsViewScrollBack {
  background: url("/img/site/scroll_back.png") no-repeat center center;
  left: -5px;
}
/* line 92, ../scss/_gallery.scss */
.galleryContainer div.thumbs div.thumbsViewScrollForward {
  background: url("/img/site/scroll_forward.png") no-repeat center center;
  right: -5px;
}
/* line 97, ../scss/_gallery.scss */
.galleryContainer div.thumbs div.thumbSlider {
  overflow: hidden;
  width: 96%;
  margin-left: 2%;
  float: left;
}
/* line 103, ../scss/_gallery.scss */
.galleryContainer div.thumbs div.thumbSlider ul.nav {
  padding: 0;
}
/* line 106, ../scss/_gallery.scss */
.galleryContainer div.thumbs div.thumbSlider ul.nav li {
  display: block;
  float: left;
  margin: 5px;
  list-style: none;
}
/* line 112, ../scss/_gallery.scss */
.galleryContainer div.thumbs div.thumbSlider ul.nav li.ng-scope.active {
  border: white 3px solid;
}

/* general styles */
/* line 18, ../scss/style.scss */
html {
  max-width: 1200px;
  min-width: 319px;
  margin: 0 auto;
  position: relative;
  height: 100%;
}

/* line 26, ../scss/style.scss */
body {
  font-size: .9em;
  color: #ccc;
  background: #000;
  background: -moz-linear-gradient(300deg, #707070 0%, black 40%) fixed;
  background: -webkit-gradient(linear, 300deg, color-stop(0%, #707070), color-stop(40%, black)) fixed;
  background: -webkit-linear-gradient(300deg, #707070 0%, black 40%) fixed;
  background: -o-linear-gradient(300deg, #707070 0%, black 40%) fixed;
  background: -ms-linear-gradient(300deg, #707070 0%, black 40%) fixed;
  background: linear-gradient(140deg, #707070 0%, #000000 40%) fixed;
  background-repeat: no-repeat;
  height: 100%;
}

/* line 40, ../scss/style.scss */
body, p, div, span {
  font-family: Verdana, Geneva, sans-serif;
}

/* line 45, ../scss/style.scss */
a, a:visited {
  color: #acaa8a;
  text-decoration: underline;
}
/* line 49, ../scss/style.scss */
a:focus {
  outline: dotted thin;
}

/* line 54, ../scss/style.scss */
h1, h2, h3 {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-weight: normal;
  font-style: italic;
  text-align: left;
  color: #ccccaa;
  margin-top: 10px;
  margin-bottom: .5em;
}

/* line 64, ../scss/style.scss */
h1 {
  font-size: 1.8em;
}

/* line 67, ../scss/style.scss */
h1:not(:nth-of-type(1)) {
  margin-top: 2em;
}

/* line 70, ../scss/style.scss */
h2 {
  font-size: 1.5em;
}

/* line 73, ../scss/style.scss */
h3 {
  font-size: 1.3em;
}

/* line 77, ../scss/style.scss */
p, br {
  font-size: 1em;
  line-height: normal;
  margin: 10px 0;
}

/* line 82, ../scss/style.scss */
strong {
  font-weight: bold;
}

/* line 86, ../scss/style.scss */
ng-view > * {
  padding: 0 10px;
}

/* line 90, ../scss/style.scss */
.pageHeader {
  display: none;
}
@media (min-width: 569px) {
  /* line 90, ../scss/style.scss */
  .pageHeader {
    display: inline;
    float: left;
    margin: 10px 0 14px 0;
  }
}

/* line 100, ../scss/style.scss */
.itemBackground {
  border-radius: 5px;
  background: #3f3f3f;
  padding: 1em 0;
  margin: .7em 1%;
  width: 98%;
  display: inline-block;
}
/* line 108, ../scss/style.scss */
.itemBackground > * {
  margin: 0 1.5em;
}

/* line 113, ../scss/style.scss */
.itemTitle {
  margin-bottom: 1em;
  font-weight: bold;
  font-size: 1.25em;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  color: #ccccaa;
}

/* line 121, ../scss/style.scss */
.info {
  text-align: left;
}

/* line 126, ../scss/style.scss */
.hideOnSmall {
  display: none;
}
@media (min-width: 1028px) {
  /* line 126, ../scss/style.scss */
  .hideOnSmall {
    display: block;
  }
}

/* line 133, ../scss/style.scss */
.home_left {
  display: inline-block;
}
@media (min-width: 569px) {
  /* line 133, ../scss/style.scss */
  .home_left {
    float: left;
    clear: left;
    width: 45%;
    position: relative;
  }
}
@media (min-width: 1028px) {
  /* line 133, ../scss/style.scss */
  .home_left {
    width: 34%;
  }
}
@media (min-width: 569px) {
  /* line 146, ../scss/style.scss */
  .home_left #h_news {
    margin-top: 3em;
  }
}
@media (min-width: 569px) {
  /* line 152, ../scss/style.scss */
  .home_left #h_news p {
    padding-bottom: 1em;
  }
  /* line 155, ../scss/style.scss */
  .home_left #h_news p:not(:last-child) {
    border-bottom: white solid 1px;
    margin-bottom: 1em;
  }
}

/* line 164, ../scss/style.scss */
.home_right .h_videoFeature {
  margin-top: -14px;
}
/* line 167, ../scss/style.scss */
.home_right .h_audioFeature {
  margin-top: 2em;
}
@media (min-width: 569px) {
  /* line 162, ../scss/style.scss */
  .home_right {
    float: right;
    clear: right;
    position: relative;
    width: 45%;
  }
}
@media (min-width: 1028px) {
  /* line 162, ../scss/style.scss */
  .home_right {
    width: 61%;
  }
  /* line 183, ../scss/style.scss */
  .home_right .h_videoFeature, .home_right .h_audioFeature {
    width: 50%;
    display: inline-block;
  }
  /* line 188, ../scss/style.scss */
  .home_right .h_videoFeature {
    float: left;
  }
  /* line 191, ../scss/style.scss */
  .home_right .h_audioFeature {
    margin-top: -.5em;
  }
}

@media (min-width: 569px) {
  /* line 197, ../scss/style.scss */
  div.event {
    width: 98%;
    float: left;
  }
}
/* line 206, ../scss/style.scss */
div.event .eventDetails div:not(.itemTitle) {
  margin: 7px 30px 5px 14px;
}
/* line 210, ../scss/style.scss */
div.event div {
  margin-bottom: 5px;
}
/* line 213, ../scss/style.scss */
div.event .eventTime, div.event .eventLocation {
  font-weight: bold;
}

/* line 220, ../scss/style.scss */
footer {
  margin-bottom: 15px;
  padding-top: 7px;
  display: inline-block;
  width: 100%;
  font-size: .8em;
  text-align: center;
  border-top: #9b9b9b solid thin;
}
/* line 229, ../scss/style.scss */
footer .copyright {
  float: left;
  margin-left: .7em;
}
/* line 233, ../scss/style.scss */
footer .contact {
  float: right;
  margin-right: .7em;
}
