@linkcolor			:#acaa8a;
@background_dark	:#000000;
@background_light 	:#707070;

@titleFonts			:'Palatino Linotype', 'Book Antiqua', Palatino, serif;
@generalFonts		:Verdana, Geneva, sans-serif;

/* Break Points */
@minWidth			:319px;
@small				:~"(min-width: 481px)";
@mediumSmall		:~"(min-width: 569px)";
@medium800			:~"(min-width: 799px)";
@medium				:~"(min-width: 1028px)";
@large				:~"(min-width: 1200px)";
@maxWidth			:1200px;